*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto","Arial",sans-serif;
    position: relative;
    
}

                            /* .navbar css */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 2.5vw;
    background-color: #fff;
}
.toggle-btn{
    position: relative;
    width: 20px;
    height: 10px;
    cursor: pointer;

}
.toggle-btn >span{
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: #424242;
    top: 50%;
    transform: translateY(-50%);
}
.toggle-btn>span:nth-child(1){
    top: 0;
}
.toggle-btn>span:nth-child(3){
    top: 100%;
}
.search-box{
    position: relative;
    max-width: 500px;
    width: 50%;
    display: flex;
    height: 35px;
    margin-left: 200px;
}
#search-bar{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-indent: 10px;
    width: 85%;
    height: 100%;
    border: 1px solid #C6C6C6;
    text-transform: capitalize;
}
#search-btn{
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   border: 1px solid #C6C6C6;
   width: 15%;
   height: 100%;

}
#voice{
    margin-left: 10px;
    border-radius: 50%;
    cursor: pointer;
}
#voice:hover{
background-color: #F2F2F2;

}
.user-option{
    height: 27px;
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 32px;
}
.user-option #icon{
    height: 90%;
    margin-right: 17px;
    cursor: pointer;
}
#user-dp{
    width: 80%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
}
#user-dp img{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
}
                            /* side bar */

.side-bar{
    position: fixed;
    top: 60px;
    left: 0;
    width: 250px;
    height: calc(100vh - 60px);
    padding-right: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.side-bar .links{
    display: block;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 15px;
}
.links>div{
    height: 25px !important;
    margin-right: 20px;
}
.links:hover{
    background-color: #F2F2F2;
}
                                /* filters */
.filters{
    position: fixed;
    left: 250px;
    top: 60px;
    width: calc(100% -250px);
    height: 60px;
    background-color: #fff;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 20px ;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}
.filters::-webkit-scrollbar{
    display: none;
}
.filter-option{
    flex: 0 0 auto;
    padding: 10px 20px ;
    border-radius: 15px;
    border: 1px solid #dbdbdb;
    margin-right: 10px ;
    cursor: pointer;
    text-transform: capitalize;
    background-color:#F2F2F2;
    color: black;
}
.filter-option.active{
    background-color: black;
    color: #fff;
}
                            /* video-container */

.video-container{
    width: calc(100% - 250px);
    margin-top: 120px;
    margin-left: 250px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-gap:20px 5px;
    overflow-x: hidden;
    
}
.video{
    min-height: 250px;
    height: auto;
}
.thumbnail{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.content{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.channel-icon{
    width: 40px ;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px ;
}
.title{
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.channel-name{
    font-size: 14px;
    margin: 2px 0;
    color: #696969;
}
